import(MASS, NADA, survival)

importFrom(sp, SpatialPointsDataFrame)
importFrom(rgdal, readOGR, writeOGR)

export(DrawPlot,
       MergePDFs,
       OpenDevice,
       PlotObservations,
       ReadObservations,
       ReadParConfig,
       ReadPlotConfig,
       ReadSiteLocations,
       RunTheilSen,
       RunTrendAnalysis)
