import(tcltk, MASS, NADA)

export(MergePDFs,
       DrawPlot,
       GetPath,
       OpenGraphicsDevice,
       PlotTrendData,
       ReadTrendData,
       RunTheilSen,
       RunTrendStats,
       ShowParameters)
